/*Select All Elements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
	font-size: 18px;
	font-family: Helvetica Neue, Arial;
}

h1, h2 {
	color: rgba(79, 126, 79, 0.38);
}

h1 {
	font-size: 40px;
    margin-bottom: 20px;
}

h2 {
	font-size: 25px;
    margin-bottom: 10px;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

#author-text {
    text-align: left;
    font-size: 22px;
    float: left;
    margin-top: 35px;
    margin-left: 25px;
}

.container {
    width: 1140px;
    /*margin-left: auto;
    margin-right: auto;
    margin-top: 20px;*/
    margin: 20px auto 0 auto;
}

.blog-post {
    background-color: #0000ff;
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
}

.other-posts {
    background-color: #00ff00;
    width: 25%;
    float: left;
}

.author-box {
    padding-top: 20px;
    padding-bottom: 20px;
}

.other {
    margin-bottom: 40px;
}

.author-box img {
    border: 3px solid #ff00ff;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    float: left;
}

.date {
    background-color: red;
    position: absolute;
    top: 10px;
    right: 10px;
}
